# C binaries and object files
*.out
*.exe
*.o
*.a

# Compiled executables
c/xor
c/aes
c/benchmark_aes
ocaml/xor_ocaml
ocaml/aes_cryptokit


# OCaml compiled files
*.cmo
*.cmi
*.cmx
*.cmxa
*.cmxs
*.byte
*.native

# Dune build folder
_build/

# Temporary files
*.swp
*.swo
*~

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db